* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  text-decoration: none;
  padding: 0;
}
.container {
  border: 1px solid red;
  overflow: auto;
}

header {
  overflow: auto;
  width: 100%;
  border: 1px solid green;
}
header nav > * {
  float: left;
  width: 33.3%;
  border: 1px solid yellow;
}
header h2,
ul {
  text-align: center;
  border: 1px solid black;
}
select {
  border: none;
}
.khan figcaption {
  display: inline-block;
  font-size: 25px;
}
.khan {
  text-align: center;
}
.logo {
  width: 25px;
  height: 20px;
}

main {
  border: 1px solid;
}
main > section {
  float: left;
  width: 50%;
  border: 1px solid blue;
}

li {
  float: left;
  width: 30%;
}

/* h1{
  font-size: clamp(1.8rem, 3.5vw, 2.2rem);
} */
